[submodule "plugins/authsome"]
	path = plugins/authsome
	url = git://github.com/felixge/cakephp-authsome.git
[submodule "plugins/sanction"]
	path = plugins/sanction
	url = git://github.com/josegonzalez/sanction.git
[submodule "plugins/debug_kit"]
	path = plugins/debug_kit
	url = git://github.com/cakephp/debug_kit.git
[submodule "plugins/webservice"]
	path = plugins/webservice
	url = git://github.com/josegonzalez/webservice_plugin.git
[submodule "plugins/migrations"]
	path = plugins/migrations
	url = git://github.com/CakeDC/migrations.git
[submodule "plugins/djjob/vendors"]
	path = plugins/djjob/vendors
	url = git://github.com/seatgeek/djjob.git
[submodule "plugins/cake_djjob"]
	path = plugins/cake_djjob
	url = git://github.com/josegonzalez/cake_djjob.git
[submodule "plugins/asset_compress"]
	path = plugins/asset_compress
	url = git://github.com/markstory/asset_compress.git
[submodule "plugins/lazy_model"]
	path = plugins/lazy_model
	url = git://github.com/Phally/lazy_model.git
[submodule "plugins/url_cache"]
	path = plugins/url_cache
	url = git://github.com/lorenzo/url_cache.git
[submodule "plugins/settings"]
	path = plugins/settings
	url = git://github.com/josegonzalez/settings.git
[submodule "plugins/package_installer"]
	path = plugins/package_installer
	url = git://github.com/josegonzalez/package_installer.git
[submodule "plugins/page_route"]
	path = plugins/page_route
	url = git://github.com/josegonzalez/page_route.git
[submodule "plugins/sham"]
	path = plugins/sham
	url = git://github.com/josegonzalez/sham.git
[submodule "plugins/http_socket_oauth/vendors"]
	path = plugins/http_socket_oauth/vendors
	url = git://github.com/neilcrookes/http_socket_oauth.git
[submodule "plugins/users"]
	path = plugins/users
	url = git@github.com:CakeDC/users.git
[submodule "plugins/recaptcha"]
	path = plugins/recaptcha
	url = git@github.com:CakeDC/recaptcha.git
[submodule "plugins/ratings"]
	path = plugins/ratings
	url = git@github.com:CakeDC/ratings.git
[submodule "plugins/utils"]
	path = plugins/utils
	url = git@github.com:CakeDC/utils.git
[submodule "plugins/search"]
	path = plugins/search
	url = git@github.com:CakeDC/search.git
[submodule "plugins/csfnavbar"]
	path = plugins/csfnavbar
	url = git@github.com:cakephp/csfnavbar.git
