[submodule "Plugin/Migrations"]
	path = Plugin/Migrations
	url = git://github.com/CakeDC/migrations.git
[submodule "Plugin/Ratings"]
	path = Plugin/Ratings
	url = git://github.com/CakeDC/ratings.git
[submodule "Plugin/Sanction"]
	path = Plugin/Sanction
	url = git://github.com/josegonzalez/sanction.git
[submodule "Plugin/Sham"]
	path = Plugin/Sham
	url = git://github.com/josegonzalez/sham.git
[submodule "Plugin/Favorites"]
	path = Plugin/Favorites
	url = git://github.com/CakeDC/favorites.git
[submodule "Plugin/Categories"]
	path = Plugin/Categories
	url = git://github.com/josegonzalez/categories.git
[submodule "Plugin/DataTable"]
	path = Plugin/DataTable
	url = git://github.com/josegonzalez/cakephp-datatable.git
[submodule "Plugin/Resque"]
	path = Plugin/Resque
	url = git://github.com/josegonzalez/Cake-Resque.git
[submodule "Plugin/Completion"]
	path = Plugin/Completion
	url = git://github.com/AD7six/cakephp-completion.git
[submodule "Plugin/Environments"]
	path = Plugin/Environments
	url = git://github.com/OctoBear/cakephp-environments.git
