[submodule "plugins/authsome"]
	path = plugins/authsome
	url = git://github.com/felixge/cakephp-authsome.git
[submodule "plugins/sanction"]
	path = plugins/sanction
	url = git://github.com/josegonzalez/sanction.git
[submodule "plugins/debug_kit"]
	path = plugins/debug_kit
	url = git://github.com/cakephp/debug_kit.git
[submodule "plugins/webservice"]
	path = plugins/webservice
	url = git@github.com:josegonzalez/webservice_plugin.git
[submodule "plugins/migrations"]
	path = plugins/migrations
	url = git://github.com/CakeDC/migrations.git
[submodule "plugins/searchable"]
	path = plugins/searchable
	url = git://github.com/josegonzalez/searchable.git
[submodule "plugins/djjob/vendors"]
	path = plugins/djjob/vendors
	url = git://github.com/josegonzalez/djjob.git
[submodule "plugins/cake_djjob"]
	path = plugins/cake_djjob
	url = git://github.com/josegonzalez/cake_djjob.git
