includes:
    - vendor/cakedc/cakephp-phpstan/extension.neon

parameters:
    level: 5
    treatPhpDocTypesAsCertain: false
    bootstrapFiles:
        - config/bootstrap.php
    paths:
        - src/
