/* Boxed Layout */
#wrapper  {
	background-color:#f5f5f5 !important;
}
@media (min-width:768px) {
	body {
		background:url('../images/patterns/17.png') repeat;
	}

	.header-wrapper { box-shadow:none; }
	#wrapper {
		margin:auto;
		width:768px;
		box-shadow:0 0 15px rgba(0, 0, 0, 0.3);
	}
}

@media (min-width:992px) {
	#wrapper { width:992px; }
	.h-wrapper {
		left:auto; right:auto;
		width:992px;
		margin:0 auto;
	}

	.menu-fixed .main-header,
	.header-transparent .main-header {
        width:992px; 
        left:auto;
        margin:0 auto;
    }
}
@media (min-width:1200px) {
	#wrapper,
	.h-wrapper,
	.menu-fixed .main-header,
	.header-transparent .main-header  {
		width:1200px;
	}
}