/*******************************************************************************
 Container
*******************************************************************************/
#container-wrapper {
	background-color: #fff;
	background: -webkit-gradient(linear, 0 0, 0 170, from(#e6e6e6), color-stop(0.5, #fff), to(#fff));
	background: -moz-linear-gradient(top, #e6e6e6, #fff 170px);
	min-height: 400px;
}
#container {
	background:transparent;
	clear: both;
	margin:auto;
	position: static;
	width:1000px;
}
#container.feature {
	background: transparent url('/img/feature-background.png') -175px top no-repeat;
}
#content {
	background: #fff;
	background:-webkit-gradient(linear, left top, left bottom, from(rgba(236,236,236, 0.8)), to(#fff)) no-repeat;
	background:-moz-linear-gradient(top, #ebebeb, #fff) no-repeat;
	background-size:100% 60px;
	background: transparent;
	-moz-background-size:100% 60px;
	-webkit-background-size:100% 60px;
	padding: 20px 0px;
}
#container.feature #content {
	padding: 3em 5em;
}