body {
	font-size: 13px;
	line-height: 16px;
	font-family: Arial, Verdana sans-serif;
	background: #fff;
	color: #4B4B4B;
	margin: 0px;
	padding: 0px;
}
footer, header, article {
	display:block;
}

h1 {
	font-size:22px;
	color:#262626;
	font-weight:bold;
	margin-top:10px;
	margin-bottom:30px;
}
h2 {
	color: #262626;
	font-size: 16px;
	border-bottom: 4px double #D8D8D8;
	clear:both;
	margin-bottom:20px;
	padding-bottom:7px;
}
h3 {
	color: #000000;
	font-size: 14px;
}
h3 > a {
	text-decoration:none;
}
#container {
	width:1000px;
	margin:auto;
}
#header {
	background: #656565;
	border-bottom:#fff 1px solid;
	width:100%;
}
#header h1 {
	font-size: 32px;
	font-weight: bold;
	display: inline-block;
	margin-right: 20px;
	top: 30px;
	position: relative;
}
#header .top-bar .login {
	text-align: right;
	line-height: 26px;
	position:relative;
}
#header .top-bar .login > img {
	margin-bottom: -5px;
	margin-top: 5px;
	-moz-box-shadow: -1px -1px 0px #000;
	-webkit-box-shadow: -1px -1px 0px #000;
	box-shadow: -1px -1px 0px #000;
}
#header .nav-bar {
	height: 80px;
}
#content {
	background: #fff;
	background:-webkit-gradient(linear, left top, left bottom, from(rgba(236,236,236, 0.8)), to(#fff)) no-repeat;
	background:-moz-linear-gradient(top, #ebebeb, #fff) no-repeat;
	background-size:100% 60px;
	-moz-background-size:100% 60px;
	-webkit-background-size:100% 60px;
	padding: 20px 0px;
}
a {
	color: #989898;
}
#footer {
	padding: 15px 0px 15px 0px;
	background: #F8F8F8;
	border-top: 1px solid #E0E0E0;
	font-size: 11px;
	color: #ACACAC;
	text-align: center;
}
#footer a {
	color: #ACACAC;
	text-decoration: underline;
}
#selectedLanguage {
	display: inline;
}
#selectedLanguage > a > img {
	margin-bottom: -2px;
	padding-right: 3px;
}
#language-switcher {
	display:none;
	float: right;
	position: absolute;
	font-size: 12px;
	line-height: 14px;
	right:2px;
	top:30px;
}
#language-switcher li {
	text-align: left;
	background: #292929;
	padding: 3px 3px;
}
#language-switcher li span {
	margin-left: 5px;
}
#language-switcher li a {
	color: #fff;
	text-decoration: none;
}

.inner-container {
	width: 960px;
	margin: auto;
	position:relative;
}
.top-bar {
	background: #323232;
	color: #fff;
}
.top-bar a {
	color: #fff;
	text-decoration: none;
}
.main-nav {
	display: inline-block;
	position: relative;
	top: 25px;
}
.main-nav ul li {
	display: inline-block;
}
.main-nav ul li a {
	background: #323232;
	padding: 5px;
	font-size: 14px;
	font-weight: bold;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	border: 1px solid #000;
	-moz-box-shadow: 1px 1px 1px #888;
	-webkit-box-shadow: 1px 1px 1px #888;
	box-shadow: 1px 1px 1px #888;
}

.main-nav a.tutorials {
	background:#323232 url('/img/dropdown.png') no-repeat scroll 93% 7px;
	padding-right:25px;
}

.main-nav ul li {
	position:relative;
}
.main-nav ul li > ul {
	position:absolute;
	visibility:hidden;
}

.main-nav ul li:hover > ul {
	visibility:visible;
	min-width:120px;
	background: #323232;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	border: 1px solid #000;
	border-top:1px solid #323232;
	-moz-box-shadow: 1px 1px 1px #888;
	-webkit-box-shadow: 1px 1px 1px #888;
	box-shadow: 1px 1px 1px #888;
	z-index:10;
	padding:0 0 5px 5px;
}

.main-nav ul li:hover > ul > li {
	display:list-item;
	padding:7px 0 5px 0;
}

.main-nav ul li:hover > ul > li > a {
	border:0;
	background:transparent;
	-webkit-border-radius:none;
	-moz-border-radius:none;
	border-radius: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#global-search {
	margin: 3px 0px;
	float: right;
	position: relative;
	top: 20px;
	display: inline-block;
	background: #323232;
	padding: 5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	color: #fff;
	text-decoration: none;
	border: 1px solid #000;
	-moz-box-shadow: 1px 1px 1px #888;
	-webkit-box-shadow: 1px 1px 1px #888;
	box-shadow: 1px 1px 1px #888;
}

#global-search input[type=text] {
	width:60%;
	margin-right:10px;
}

.clear {
	clear: both;
}

.main-content {
	display:table-cell;
	width:1000px;
	padding-right:30px;
	margin-right:30px;
	vertical-align:top;
}

.sidebar {
	display:table-cell;
	width:300px;
	vertical-align:top;
}

/*******************************************************************************
 Buttons
*******************************************************************************/

a.upload-video {
	display:inline-block;
	margin-top:15px;
	font-weight:bold;
	font-size:11px;
	text-decoration:none;
	color:white;
	width:100px;
	height:20px;
	padding:3px 0 0 5px;
	background:url('/img/upload.png') no-repeat scroll 6px 6px, -webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#999));
	background:url('/img/upload.png') no-repeat scroll  6px 6px, -moz-linear-gradient(top, #d5d5d5, #999);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius: 3px;
	text-shadow: #777 0px -1px 1px;
	text-align:center;
}

a.full-profile, a.play-playlist, div.paging span  {
	font-family:Verdana;
	font-size:11px;
	padding: 3px 6px;
	color: #5E5E5E;
	background:#ececec;
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#ececec));
	background:-moz-linear-gradient(top, #fff, #ececec);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius: 3px;
	-moz-box-shadow: 0px 1px 1px #888;
	-webkit-box-shadow: 0px 1px 1px #888;
	box-shadow: 0px 1px 1px #999;
	border:1px #d4d4d4 solid;
	text-decoration:none;
	cursor:pointer;
}

a.full-profile:hover, a.play-playlist:hover, div.paging span:hover {
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#d5d5d5));
	background:-moz-linear-gradient(top, #fff, #d5d5d5);
}

a.full-profile:active, a.play-playlist:active, div.paging span:active {
	background:-webkit-gradient(linear, left top, left bottom, from(#d5d5d5), to(#fff));
	background:-moz-linear-gradient(top, #d5d5d5, #fff);
}

/*******************************************************************************
 Forms
*******************************************************************************/
input, textarea {
	background:-webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#fff)), #fff;
	background:-moz-linear-gradient(top, #e4e4e4, #fff), #fff;
	background-repeat:no-repeat;
	border:1px solid #ababab;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius: 3px;
	width:100%;
	padding:5px 1px;
}
input {
	background:#fff url('/img/input_bg.jpg') repeat-x;
}

input[type=checkbox] {
	background:none;
	width:auto;
}

input[type=submit] {
	width:auto;
	padding: 7px 8px;
	color: #5E5E5E;
	background:#ececec;
	background:-webkit-gradient(linear, left top, left bottom, from(#fff), to(#d7d7d7));
	background:-moz-linear-gradient(top, #fff, #d7d7d7);
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 1px 2px #888;
	-webkit-box-shadow: 0px 1px 2px #888;
	box-shadow: 0px 1px 2px #888;
	border:1px #d4d4d4 solid;
	text-decoration:none;
	text-transform:capitalize;
}

input[type=submit]:active {
	background: -webkit-gradient(linear, left top, left bottom, from(#d7d7d7), to(#fff));
	background-image: -moz-linear-gradient(top, #d7d7d7, #fff);
}

textarea {
	-moz-background-size: 100% 20px;
	-webkit-background-size: 100% 10px;
	background-size: 100% 20px;
	width:100%;
	height:60px;
}

label {
	font-size:12px;
	color:#777;
	display:block;
}

div.input {
	margin-top:10px;
}

div.input.checkbox label {
	display:inline-block;
}

div.input.error input {
	border:1px solid red;
}

div.input.error .error-message {
	color:#700;
}

#flashMessage {
	color:#fff;
	font-size:18px;
	display:none;
	margin-top:-22px;
	margin-bottom:20px;
	padding:5px;
	background:#656565;
	text-align:center;
	-moz-box-shadow: 0px 1px 1px #666;
	-webkit-box-shadow: 0px 1px 1px #666;
	box-shadow: 0px 1px 1px #666;
	-webkit-border-radius:0 0 3px 3px;
	-moz-border-radius:3px;
	border-radius: 0 0 3px 3px;
	text-shadow: #777 0px 0px 1px;
}

#recaptcha_widget_div {
	margin:10px 0;
}
#recaptcha_area a:focus {
	border-bottom:1px solid red !important;
	display:inline-block;
}

div.select.language {
	float:left;
	margin-right:30px;
}
/*******************************************************************************
Video Previews
*******************************************************************************/

.preview {
	clear:both;
	margin-bottom:40px;
}

.preview > h3 > a {
	padding-right:0px;
}
.preview > .info > .summary {
	background:transparent url('/img/more_info.png') no-repeat;
	cursor:pointer;
	display:inline-block;
	min-height: 11px;
	min-width: 11px;
	position:relative;
	margin-top:2px;
}
.preview > .info > .summary > span {
	background:#ccc;
	border:1px solid #666;
	color:#000;
	display:none;
	max-height:150px;
	padding:10px;
	position:absolute;
	right:-125px;
	top:25px;
	width:250px;
	z-index:10;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 1px 3px #888;
	-webkit-box-shadow: 0px 1px 3px #888;
	box-shadow: 0px 1px 3px #888;
}

.preview > .info > .summary:hover > span {
	display:block;
}

.preview > .info > .summary:hover > span > .border {
	border-color: transparent transparent #666666 transparent;
	border-style: solid;
	border-width: 11px;
	height:0;
	width:0;
	position:absolute;
	top:-23px;
	left:128px;
}

.preview > .info > .summary:hover > span > .arrow {
	border-color: transparent transparent #ccc transparent;
	border-style: solid;
	border-width: 10px;
	height:0;
	width:0;
	position:absolute;
	top:-20px;
	left:129px;
}

.preview .author {
	padding-left:5px;
	font-size:11px;
	color:#ababab;
}

.preview > .thumb {
	float:left;
	margin-right:12px;
}

.index .preview > .thumb {
	width:150px;
}

.preview .summary {
	color:#777;
}
/*******************************************************************************
Terms of service page
*******************************************************************************/
.terms p {
	margin-bottom: .75em;
}

/*******************************************************************************
Home Page
*******************************************************************************/
.home {
	padding-top:25px;
}

.home.main-content {
	vertical-align:inherit;
}
.home.main-content + .sidebar {
	vertical-align:inherit;
}
.listing {
	clear:both;
}
.listing .row {
	display:table-row;
}
.listing .row .preview {
	width:260px;
	display:table-cell;
	padding-bottom: 25px;
}

.listing .row .preview.odd {
	padding-right:60px;
}

.sidebar .upload {
	font-size:14px;
	width:285px;
	height:85px;
	background:#ccc;
	color:#333;
	text-align:center;
	padding:15px;
}

/*******************************************************************************
 Paging
*******************************************************************************/
div.paging {
	background: transparent;
	color: #C4C4C4;
	padding: 0px;
	margin: 0px;
	font-size: 12px;
}
div.paging .disabled {
	display:none;
}
div.paging span {
	display: inline-block;
	margin-right:3px;
	color:#474747;
	padding:0;
}
div.paging span a {
	text-decoration: none;
	display: inline-block;
	padding: 3px 6px;
	color: #5E5E5E;
}
div.paging span a:hover {
	padding: 3px 6px;
}
div.paging span.current {
	color: #ccc;
	padding: 3px 6px;
	background-color: #F1F1F1;
	border: 1px solid #C4C4C4;
}
div.paging div.numbers {
	display: inline-block;
	background-color: #F1F1F1;
	padding: 0px;
	border: 1px solid #C4C4C4;
}


/*******************************************************************************
 Comments
*******************************************************************************/

.comments h2 {
	margin-bottom:10px;
}
.comments .comment {
	display:table-row;
	width:100%;
	float:left;
	margin-top:30px;
}
.comments .comment .author {
	display:table-cell;
	padding-right:10px;
	width:65px;
}

.comments .comment .content {
	display:table-cell;
	vertical-align:top;
	font-size:12px;
	overflow:auto;
	max-width:590px;
}

.comments .comment .username > a{
	text-decoration:none;
	color:#25689b;
	font-size:11px;
}

.comments .comment .date {
	font-size:11px;
	color:#ababab;
}

.comments .pages {
	clear:both;
	border-top:1px solid #d9d9d9;
	float:left;
	margin-top:30px;
	padding-top:10px;
	width:100%;
}
.comments .pages .all {
	float:right;
}

.comments #recaptcha_area {
	display:none;
	float:left;
	margin-right:80px;
}

.comments div.submit {
	margin-top:50px;
}

.comments .error-message {
	clear:both;
}

.comments textarea {
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
}

/*******************************************************************************
 Tabs
*******************************************************************************/

.ui-tabs-hide {
	display:none;
}
ul.ui-tabs-nav {
	width:100%;
	border-bottom:1px solid #d6d6d6;
}
ul.ui-tabs-nav > li {
	display:inline-block;
	margin-right:10px;
	padding:5px;
	margin-bottom:-1px;
}

li.ui-tabs-selected {
	background:#ececec;
	background:-webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#fff));
	background:-moz-linear-gradient(top, #f1f1f1, #fff);
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius: 3px;
	border:1px solid #d4d4d4;
	border-bottom:1px solid white;
}

ul.ui-tabs-nav > li > a {
	text-decoration:none;
	font-size:12px;
	color:#1669bf;
	padding:0 5px;
}

ul.ui-tabs-nav > li.ui-tabs-selected > a {
	color:#5e5e5e;
}

.ui-tabs-panel {
	min-height:190px;
	padding:25px 0;
	border-bottom: 4px double #D8D8D8;
}

/*******************************************************************************
 Search Tabs and forms
*******************************************************************************/

.index ul.ui-tabs-nav {
	border-bottom: 1px solid #D8D8D8;
	margin-bottom:20px;
	display:block;
	width:96%;
}

.index li.ui-tabs-selected {
	border-bottom:none; 
}

.index ul.ui-tabs-nav > li {
	margin-bottom:0;
}

ul.ui-tabs-nav > li > a {
	display:inline-block;
	padding-left:20px;
}

ul.ui-tabs-nav > li > a.no-icon {
	padding-left:inherit;
}

ul.ui-tabs-nav > li > a.alphabetical {
	background:transparent url('/img/alphabetical.png') no-repeat;
}

ul.ui-tabs-nav > li > a.comments {
	background:transparent url('/img/comments.png') no-repeat;
}

ul.ui-tabs-nav > li > a.uploads {
	background:transparent url('/img/uploads.png') no-repeat;
}

ul.ui-tabs-nav > li > a.rating, ul.ui-tabs-nav > li > a.recent {
	background:transparent url('/img/rating.png') no-repeat;
}

ul.ui-tabs-nav > li > a.popular {
	background:transparent url('/img/popular.png') no-repeat;
}

ul.ui-tabs-nav > li > a.in-progress {
	background:transparent url('/img/in_progress.png') no-repeat;
}

ul.ui-tabs-nav > li > a.completed {
	background:transparent url('/img/completed.png') no-repeat;
}

.index > .search  {
	height:30px;
	background:#eee;
	background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#fcfcfc));
	background: -moz-linear-gradient(top, #eee, #fcfcfc);
	border:1px solid #d7d7d7;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	padding:10px;
	margin-bottom:10px;
}

.index > .search label {
	text-transform:uppercase;
	font-size:11px;
	color:#777;
	font-weight:bold;
	display:inline-block;
	margin-right:10px;
}
.index > .search input[type=text] {
	width:51%;
	margin-right:10px;
	padding:7px;
}

/* Component containers
----------------------------------*/
.ui-dialog.ui-widget-content {background: #ffffff}
.ui-dialog .ui-widget-header {display:none;}


/* Dialog
----------------------------------*/
.ui-dialog {
	position: absolute; padding: .2em; width: 300px; overflow: hidden; border:6px solid #999999;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
}
.ui-dialog .ui-dialog-titlebar { padding: .5em .3em .3em 1em; position: relative;  }
.ui-dialog .ui-dialog-title { float: left; margin: .1em 0 .2em; } 
.ui-dialog .ui-dialog-titlebar-close { position: absolute; right: .3em; top: 50%; width: 19px; margin: -10px 0 0 0; padding: 1px; height: 18px; }
.ui-dialog .ui-dialog-titlebar-close span { display: block; margin: 1px; }
.ui-dialog .ui-dialog-titlebar-close:hover, .ui-dialog .ui-dialog-titlebar-close:focus { padding: 0; }
.ui-dialog .ui-dialog-content { position: relative; border: 0; padding: .5em 1em; background: none; overflow: auto; zoom: 1; }
.ui-dialog .ui-dialog-buttonpane { text-align: left; border-width: 1px 0 0 0; background-image: none; margin: .5em 0 0 0; padding: .3em 1em .5em .4em; }
.ui-dialog .ui-dialog-buttonpane button { float: right; margin: .5em .4em .5em 0; cursor: pointer; padding: .2em .6em .3em .6em; line-height: 1.4em; width:auto; overflow:visible; }
.ui-dialog .ui-resizable-se { width: 14px; height: 14px; right: 3px; bottom: 3px; }
.ui-draggable .ui-dialog-titlebar { cursor: move; }

/* Overlays */
.ui-widget-overlay { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
.ui-widget-overlay { background: #777; opacity: .3;filter:Alpha(Opacity=30); }

.ui-dialog-content .sidebar {
	display:none;
}

.ui-dialog-content #recaptcha_area {
	margin:10px 0;
}

.ui-dialog-content span.close {
	display:inline-block;
	margin-left:10px;
}

.ui-dialog-content span.close a {
	color:#25689b;
	font-size:13px;
	text-decoration:none;
}

/** Popup */
#messages-container {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 250px;
	margin: 0px;
	padding: 7px;
	background: transparent;
	z-index: 2;
	position: fixed;
}

#messages-container div.error {
	color: #fff;
	padding: 7px;
	margin-bottom: 7px;
	background: #fd7575;
	border-color: #883030;
	border-style: solid;
	border-width: thin;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#messages-container div.message {
	color: #fff;
	padding: 7px;
	margin-bottom: 7px;
	background: #c864e8;
	border-color: #681498;
	border-style: solid;
	border-width: thin;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}


body {
	background: #F8F8F8 url('/img/body_bg.png') scroll repeat-x 0px 13px;
}

/*******************************************************************************
 Navbar
*******************************************************************************/
#cakephp-global-navigation {
	background: #3B3B3B;
	background: -moz-linear-gradient(top, #3B3B3B 0%, #2b2b2b 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3B3B3B), color-stop(100%,#2b2b2b));
	border-bottom: 1px solid #181818;
	-webkit-box-shadow:none;
	-moz-box-shadow:none;
	box-shadow:none;
	font-family: Arial, Verdana, sans-serif;
}
#cakephp-global-navigation ul li ul li.cake-version {
	height: 50px;
}
#cakephp-global-navigation ul li ul li a {
	line-height: 32px;
}
#cakephp-global-navigation ul {
	height: 30px;
	padding-left: 20px;
	width: 1000px;
}
#cakephp-global-navigation ul li,
#cakephp-global-navigation ul li a,
#cakephp-global-navigation ul li span,
#header .top-bar {
	height: 30px;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	font-weight: bold;
	line-height: 30px;
	padding: 0;
	text-shadow:1px 1px 2px #000;
}
#cakephp-global-navigation ul li a {
	font-size:12px;
	font-weight:normal;
	text-align:center;
	text-shadow: 0 0 0;
}
#cakephp-global-navigation ul ul li a,
#cakephp-global-navigation ul ul li span {
	padding: 0 10px;
	text-align: left;
	font-size: 12px;
}
#cakephp-global-navigation ul li.main a {
	font-size: 14px;
}


#cakephp-global-navigation ul li:hover {
	background:#606060;
}

#cakephp-global-navigation ul li.main:hover {
	background: transparent url('///csfnavbar/theme/csf/img/main-link.png') 0px 4px no-repeat;
}
#cakephp-global-navigation > ul > li:hover > ul {
	margin-top:-3px;
	background: #1b404a;
	background:-webkit-gradient(linear, left top, left bottom, from(#1b404a), to(#245b6a));
	background:-moz-linear-gradient(top, #1b404a, #245b6a);
	border: 1px solid #0e2d35;
	border-top:1px solid #1b4049;
	-moz-box-shadow:inset -1px -1px 1px #888;
	-webkit-box-shadow:inset -1px -1px 1px #888, 1px 0px 3px #333;
	box-shadow:inset -1px -1px 1px #888;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

#cakephp-global-navigation > ul > li:hover > ul a {
	color:#fff;
}

#header .top-bar {
	background: none;
	clear:none;
	height: 0;
	margin: 0 auto;
	width: 1000px;
	z-index: 999;
}
#header .top-bar .inner-container {
	float: right;
	position: relative;
	top: -35px;
	width: 320px;
	z-index: 999;
}
#header .top-bar .login {
	line-height: 30px;
}
#header .top-bar .login a {
	color: #fffbbe;
	padding: 5px 10px;
	text-transform: uppercase;
	font-size:10px;
}
#header .top-bar .login a:hover {
	color: #fff;
}

#selectedLanguage {
	background: #2a2a2a;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	display: inline-block;
	height: 22px;
	line-height: 22px;
}
#header .top-bar .login #selectedLanguage a,
#header .top-bar .login #language-switcher a {
	color: #fff;
	font-size: 10px;
	text-transform: none;
}
#header .top-bar .login #selectedLanguage a {
	background: url('/img/arrow_down.png') no-repeat 90% 50%;
	padding-right: 20px;
}
#header .top-bar .login #selectedLanguage a:hover {
	color: #fffbbe;
}

/*******************************************************************************
 Header
*******************************************************************************/
#header {
	background-color: #204c58;
	border-bottom: 2px solid #fff;
	height: 110px;
	padding-top: 5px;
	width: 100;
}
#header h1 {
	position: static;
	margin-top:0;
}
#header h1 a {
	color: #fff;
	display: inline-block;
	height: 105px;
	line-height: 105px;
	text-decoration: none;
	text-shadow:1px 1px 2px #000;
}
#header h1 a:hover {
	color: #fffbbe;
}
#header .nav-bar {
	height: 110px;
	position: relative;
}
.main-nav {
	position: relative;
	line-height: 105px;
	height: 105px;
	top: -7px;
}
.main-nav ul li a,
#global-search {
	background: #1b404a;
	border-color: #0f2d37;
	text-shadow:1px 1px 2px #000;
}
.main-nav ul li a:hover {
	background: #2f6f80;
}
#global-search {
	height: 30px;
	margin-top: 25px;
	padding: 10px;
	position: absolute;
	top: 0;
	right: 0;
	width: 290px;
}
#global-search input {
	height: 30px;
}
#global-search input[type=text] {
	border: 1px solid #4c4c4c;
	margin-right: 5px;
	padding: 0 5px;
	-moz-box-shadow: 1px 1px 1px #537076;
	-webkit-box-shadow: 1px 1px 1px #537076;
	box-shadow: 1px 1px 1px #537076;
	width: 210px;
}
#global-search input[type=text]:hover,
#global-search input[type=text]:focus {
	border-color: #ccc;
}
#global-search input[type=submit] {
	cursor: pointer;
	text-shadow:1px 1px 2px #fff;
	width: 60px;
}

.main-nav a.tutorials {
	background:#1b404a url('/img/dropdown.png') no-repeat scroll 93% 7px;
}

.main-nav a.non-button{
	cursor:default;
}

.no-wrap{
	white-space:nowrap;
}

.search-instructions{
	font-weight: bold;	
	padding-bottom: 5px;
}

.index > .search.wide-search{
	height:auto;
}

.main-nav ul li:hover > ul {
	background: #1b404a;
	background:-webkit-gradient(linear, left top, left bottom, from(#1b404a), to(#245b6a));
	background:-moz-linear-gradient(top, #1b404a, #245b6a);
	border: 1px solid #0e2d35;
	border-top:1px solid #1b4049; 
	margin-top:-43px;
	-moz-box-shadow:inset -1px -1px 1px #888;
	-webkit-box-shadow:inset -1px -1px 1px #888, 1px 0px 3px #333;
	box-shadow:inset -1px -1px 1px #888;
}

.main-nav ul li:hover > ul > li {
	display:list-item;
	line-height:15px;
}
.main-nav ul li:hover > ul > li a:hover {
	color: #fffbbe;
}

/*******************************************************************************
 Container
*******************************************************************************/
#container-wrapper {
	background-color: #fff;
	background: -webkit-gradient(
	  linear, 0 0, 0 170, from(#e6e6e6), color-stop(0.5, #fff), to(#fff)
	);
	
	background: -moz-linear-gradient(
		top, #e6e6e6, #fff 170px
	);
	min-height: 400px;
}
#container {
	clear: both;
	position: static;
	background:transparent;
}
#container.feature {
	background: transparent url('/img/feature-background.png') -175px top no-repeat;
}
#content {
	background: transparent;
}
#container.feature #content {
	padding: 3em 5em;
}
/*******************************************************************************
 Sidebar
*******************************************************************************/
.home.main-content + .sidebar {
	vertical-align: top;
	padding-top: 25px;
}
.sidebar h3 {
	font-weight: bold;
	margin-bottom: 12px;
	color: #343434;
} 
.sidebar p {
	margin-bottom: 10px;
}
.sidebar input[type=text] {
	margin-bottom: 10px;
}

/*******************************************************************************
 Footer
*******************************************************************************/
#footer {
	height: 150px;
}

/*******************************************************************************
 Search bar
*******************************************************************************/
.index > .search input[type=text] {
	width:78%;
}

.ideas.index > .search input[type=text] {
	width:71%;
}

.index > .search input[type=submit] {
	width:60px;
	display:inline-block;
	padding-top:8px;
}

.videos.index > .search input[type=text] {
	width:51%;
}

#flashMessage {
	background:#204c58;
}

/** Popup */
#messages-container {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 250px;
	margin: 0px;
	padding: 7px;
	background: transparent;
	z-index: 2;
	position: fixed;
}

#messages-container div.error {
	color: #fff;
	padding: 7px;
	margin-bottom: 7px;
	background: #fd7575;
	border-color: #883030;
	border-style: solid;
	border-width: thin;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

#messages-container div.message {
	color: #fff;
	padding: 7px;
	margin-bottom: 7px;
	background: #5864e8;
	border-color: #586498;
	border-style: solid;
	border-width: thin;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

/*******************************************************************************
Package Previews
*******************************************************************************/
.packages-list {
	width:800px;
	clear:both;
	margin-top:20px;
	padding: 0 80px;
}

.preview {
	clear:both;
	vertical-align: top;
	display: inline-block;
	margin: 0 0 1.5em 0;
	position: relative;
	width:360px;
	height:130px;
	color:#6f6514;
	padding-right:20px;
}

.preview > .info {
	float:right;
	margin-top: 11px;
}
.preview > .info > div {
	color:#777;
	float:left;
	display:inline-block;
	min-height: 11px;
	min-width: 11px;
}
.preview > .info > .summary {
	background:transparent url('/img/more_info.png') no-repeat;
	cursor:pointer;
	position:relative;
}

.preview > .info > .watchers {
	background:transparent url('/img/eye.png') no-repeat;
	padding:0 10px 0 20px
}

.preview > .info > .rating {
	background:transparent url('/img/thumb-up.png') no-repeat;
	padding:0 10px 0 20px
}

.preview > .info > .summary > span {
	background:#ccc;
	border:1px solid #666;
	color:#000;
	display:none;
	max-height:150px;
	padding:10px;
	position:absolute;
	right:-125px;
	top:25px;
	width:250px;
	z-index:10;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 1px 3px #888;
	-webkit-box-shadow: 0px 1px 3px #888;
	box-shadow: 0px 1px 3px #888;
}

.preview > .info > .summary:hover > span {
	display:block;
}

.preview > .info > .summary:hover > span > .border {
	border-color: transparent transparent #666666 transparent;
	border-style: solid;
	border-width: 11px;
	height:0;
	width:0;
	position:absolute;
	top:-23px;
	left:128px;
}

.preview > .info > .summary:hover > span > .arrow {
	border-color: transparent transparent #fff transparent;
	border-style: solid;
	border-width: 10px;
	height:0;
	width:0;
	position:absolute;
	top:-20px;
	left:129px;
}

.preview .author {
	font-size: 11px;
	color: #3F3F41;
	margin-bottom: 9px;
	margin-top: -8px;
	padding-left: 0px;
}

.preview > .thumb {
	float:left;
	margin-right:12px;
}

.index .preview > .thumb {
	width:150px;
}

.preview h3 a {
	color: #065798;
	font-size: 18px;
	font-weight: bold;
	line-height: 2em;
	text-decoration: none;
}

.preview h3 a:hover { color: #00C4CC; }

.preview > .info  {
	color:#25689c;
}

.preview .author a {
	color: #3F3F41;
	text-decoration: none;
}

.preview .author a:hover {
	text-decoration: underline;
}

.preview > .info > .summary > span {
	background:#fff;
	border: 1px solid #ccc;
	color:#6f6514;
	opacity:0.85;
}

.preview > .info > .summary:hover > span > .border {
	border-color: transparent transparent #ccc transparent;
}

.preview > .info > .summary:hover > span > .arrow {
	border-color: transparent transparent #fff transparent;
}

.preview .summary {
	color: #666;
	font-size:12px;
	margin-bottom:3px;
}

/*******************************************************************************
Labels
*******************************************************************************/
ul {
	display:inline;
}
ul.labels li {
	display:inline-block;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	border-radius: 3px;
	-moz-box-shadow: 1px 1px 1px #888;
	-webkit-box-shadow: 1px 1px 1px #888;
	box-shadow: 1px 1px 1px #888;
	padding:1px 4px;
	font-size:10px;
	color:white;
	margin-left:2px;
	margin-bottom:4px;
}

ul.labels li.helper {
	background:#680080;
}

ul.labels li.behavior {
	background:#005880;
}

ul.labels li.controller {
	background:#188000;
}
ul.labels li.component {
	background:orange;
}
ul.labels li.view {
	background:#FE0057;
}

ul.labels li.model {
	background:#802800;
}
ul.labels li.shell {
	background:#FE2800;
}
ul.labels li.datasource {
	background:#E04C1B;
}

ul.labels li.plugin {
	background:green;
}
ul.labels li.theme {
	background:#E01B4C;
}

.preview > ul.labels {
	position:absolute;
	bottom:5px;
}

/*******************************************************************************
Pagination Sorters
*******************************************************************************/

ul.ui-tabs-nav > li > a.ratings.desc, ul.ui-tabs-nav > li > a.ratings.asc:hover {
	background: transparent url('/img/sort-rating-descending.png') no-repeat;
}

ul.ui-tabs-nav > li > a.ratings, ul.ui-tabs-nav > li > a.ratings.desc:hover {
	background: transparent url('/img/sort-rating.png') no-repeat;
}

ul.ui-tabs-nav > li > a.watchers, ul.ui-tabs-nav > li > a.watchers.desc:hover  {
	background: transparent url('/img/eye-plus.png') no-repeat;
}

ul.ui-tabs-nav > li > a.watchers.desc, ul.ui-tabs-nav > li > a.watchers.asc:hover {
	background: transparent url('/img/eye-minus.png') no-repeat;
}

ul.ui-tabs-nav > li > a.title, ul.ui-tabs-nav > li > a.maintainer,
ul.ui-tabs-nav > li > a.title.desc:hover, ul.ui-tabs-nav > li > a.maintainer.desc:hover {
	background: transparent url('/img/sort-alphabet.png') no-repeat;
}

ul.ui-tabs-nav > li > a.title.desc, ul.ui-tabs-nav > li > a.maintainer.desc,
ul.ui-tabs-nav > li > a.title.asc:hover, ul.ui-tabs-nav > li > a.maintainer.asc:hover {
	background: transparent url('/img/sort-alphabet-descending.png') no-repeat;
}

ul.ui-tabs-nav > li > a.date.desc, ul.ui-tabs-nav > li > a.updated.desc,
ul.ui-tabs-nav > li > a.date.asc:hover, ul.ui-tabs-nav > li > a.updated.asc:hover {
	background: transparent url('/img/sort-date-descending.png') no-repeat;
}

 ul.ui-tabs-nav > li > a.date, ul.ui-tabs-nav > li > a.updated,
 ul.ui-tabs-nav > li > a.date.desc:hover, ul.ui-tabs-nav > li > a.updated.desc:hover {
	background: transparent url('/img/sort-date.png') no-repeat;
}