body{font-family:Corbel, "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", "Bitstream Vera Sans", "Liberation Sans", Verdana, "Verdana Ref", sans-serif;background:#003d4c;}
h1{font-size:30px;}
h2{font-size:25px;}
h3{font-size:20px;}
h4{font-size:15px;}
a{color: #003d4c;text-decoration:none;}
a:hover{color: #367889;text-decoration:underline;}
#header{text-align:center;}
#header h1{color:#fff;}
#header a{color:#fff;}
#container table{font-size:12px;background:#fff;width:100%;border-collapse:collapse;text-align:left;}
#container th{font-size:14px;font-weight:normal;color:#039;padding:10px 8px;border-bottom:2px solid #6678b1;}
#container td{border-bottom:1px solid #ccc;color:#669;padding:6px 8px;}
#container tbody tr:hover td{color:#009;}
#footer{color:#fff;padding-top:10px;text-align:center;}
#footer a{color:#fff;}
#footer a:hover{color:#aaa;}
.content{background:#fff;border:1px solid #fff;border-radius:10px;-khtml-border-radius:10px;-moz-border-radius:10px;-opera-border-radius:10px;-webkit-border-radius:10px;padding:16px 20px;}
.alternate-content{background:#fff;border:1px solid #fff;border-radius:10px;-khtml-border-radius:10px;-moz-border-radius:10px;-opera-border-radius:10px;-webkit-border-radius:10px;}
.content-makeup{padding:16px 20px;}
.content-makeup-horizontal{padding:0 20px;}
.content-makeup-vertical{padding:16px 0;}
.disabled{color:#ccc;}
.highlight{background-color: #FFFF00;}
/* 960.gs*/
.container_6 {margin-left:auto;margin-right:auto;width:480px;}
.container_6 .prefix_half, .container_6 .suffix_half{padding-left:40px}
.container_6 .prefix_quarter, .container_6 .suffix_quarter{padding-left:20px}
.container_6 .grid_1-half{display:inline;float:left;position:relative;margin-left:10px;margin-right:10px;width:100px;}

/** Tables **/
th a.asc:after {content: ' ⇣';}
th a.desc:after {content: ' ⇡';}

/** Scaffold View **/
dl{line-height: 2em;margin: 0em 0em;}
dl .altrow{background: #f4f4f4;}
dt{font-weight: bold;padding-left: 4px;vertical-align: top;}
dd{margin-left: 10em;margin-top: -2em;vertical-align: top;}

/* Forms */
form{clear:both;padding:0;}
fieldset{border:1px solid #ccc;padding:16px 20px;}
fieldset legend{background:#fff;color:#e32;font-size:160%;font-weight:bold;}
fieldset fieldset{margin-top:0px;margin-bottom:20px;padding:16px 10px;}
fieldset fieldset legend{font-size:120%;font-weight:normal;}
fieldset fieldset div{clear:left;margin:0 20px;}
.alternate-content form div{clear:both;margin-bottom:1em;padding:.5em;vertical-align:text-top;}
form div{clear:both;vertical-align:text-top;}
form div.input{color:#444;}
form div.required{color:#333;font-weight:bold;}
form div.submit{border:0;clear:both;margin-top:10px;}
label{display:block;font-size:110%;padding-right:20px;}
input,textarea{clear:both;font-size:140%;padding:2px;width:100%;}
input[type=text], input[type=password]{width:98%;}
select{clear:both;font-size:120%;vertical-align:text-bottom;}
select[multiple=multiple]{width:100%;}
option{font-size:120%;padding:0 3px;}
input[type=checkbox]{clear:left;float:left;margin:0px 6px 7px 2px;width:auto;}
input[type=radio]{float:left;width:auto;margin:0 3px 7px 0;}
div.radio label{margin:0 0 6px 20px;}
input[type=submit]{display:inline;font-size:110%;padding:2px 5px;width:auto;vertical-align:bottom;}
form div.submit.cancel{display:inline;}
a.cancel-action, a.forgot-action{color:#f00;text-decoration:underline;}
a:hover.cancel-action, a:hover.forgot-action{color:#f00;text-decoration:none;}
form div.input.left-input{display:inline;clear:none;}
form div.input.left-input{display:inline;clear:none;}
form div.input.right-input{display:inline;clear:none;}
form div.input.right-input{display:inline;clear:none;}

/** Notices and Errors **/
div.message{clear:both;color:#fff;font-size:140%;font-weight:bold;margin:0 0 1em 0;background:#c73e14;padding:5px;}
div.error-message{clear:both;color:#fff;font-weight:bold;background:#c73e14;}
p.error{background-color:#e32;color:#fff;font-size:120%;line-height:140%;padding:0.8em;margin:1em 0;}
p.error em{color:#000;font-weight:normal;line-height:140%;}
.notice{background:#ffcc00;color:#000;display:block;padding:0.8em;margin:1em 0;text-align: center;}
.success{background:green;color:#fff;}

/** Users **/
form div.submit.forgot{display:inline;}
.forgot-action{float:right;text-align:right;margin:0;}
.forgot-action a{color:#f00;text-decoration:underline;}
.forgot-action a:hover{color:#f00;text-decoration:none;}