body {
	background: #fff;
	border-top: 5px solid #000;
	color: #333;
	font-size: 11px;
	padding: 10px 0 0 0;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-family: Georgia, serif;
	font-weight: normal;
	text-align: center;
}

h2, h3, h4 {
	padding: 0;
	margin: 0;
	text-align: center;
}

p {
	overflow: hidden;
	padding: 10px 0;
}

.container_12 {
	background: #fff;
	margin-bottom: 20px;
}

#footer {
	margin-top: 20px;
	text-align: center;
}
/** Cool **/

.border_radius {
	border-radius: 15px;
	-khtml-border-radius: 15px;
	-moz-border-radius: 15px;
	-o-border-radius: 15px;
	-webkit-border-radius: 15px;
}

.packages.view h2 {
	color: #ff7b17;
}

.packages.view h3 a{
	color: #6e1717;
}

.home .list {
	font-size: 2em;
}

.package_name {
	color: #ff7b17;
}

.maintainer_name {
	color: #6e1717;
}

.description {
	color: #1a78b8;
	font-size: 1.5em;
	text-align: center;
}

.rss_feed {
	font-size: 1.2em;
	width: 100%;
}

.rss_feed {
	border-collapse: separate;
	border-spacing:0 20px;
}

.rss_feed td {
	border-bottom: 1px solid #000;
}

.rss_feed .commit_msg {
	width: 80%;
}
.rss_feed .commit_date {
	text-align: center;
	width: 20%;
}

.meta_package {
	background-color: #d9e4e5;
	font-size: 1.4em;
	padding: 20px;
}

.meta_package dd {
	font-weight: bold;
}

.meta_maintainer {
	background-color: #e3a130;
	font-size: 1.4em;
	padding: 20px;
}

.meta_maintainer dd {
	font-weight: bold;
}

.maintainers .meta_listing {
	font-size: 1.5em;
	margin-bottom: 5px;
	padding: 0;
}

.maintainers .meta_listing p {
	font-size: .8em;
	margin-bottom: 5px;
}

.meta_listing {
	border-bottom: 1px solid #999;
	padding: 10px 0 10px 0;
	margin-bottom: 20px;
}

.meta_listing .information, .meta_listing .information a {
	font-size: 1.5em;
}

.meta_listing p {
	font-size:1em;
	margin: 0;
	padding: 0;
}

.meta_listing .highlight {
	background-color: #eff77c;
}

.paging {
	font-size:1.3em;
	text-align: center;
}
.paging .disabled {
	display: none;
}

.pages.display, .blog_posts {
	font-size: 1em;
}

/** Forms **/
form {
	clear: both;
	margin-right: 20px;
	padding: 0;
	width: 95%;
}
fieldset {
	border: 1px solid #ccc;
	margin-bottom: 1em;
	padding: 16px 20px;
}
fieldset legend {
	background:#fff;
	color: #e32;
	font-size: 160%;
	font-weight: bold;
}
fieldset fieldset {
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 16px 10px;
}
fieldset fieldset legend {
	font-size: 120%;
	font-weight: normal;
}
fieldset fieldset div {
	clear: left;
	margin: 0 20px;
}
form div {
	clear: both;
	margin-bottom: 1em;
	padding: .5em;
	vertical-align: text-top;
}
form .input {
	color: #444;
}
form .required {
	font-weight: bold;
}
form .required label:after {
	color: #e32;
	content: '*';
	display:inline;
}
form div.submit {
	border: 0;
	clear: both;
	margin-top: 10px;
}
label {
	display: block;
	font-size: 110%;
	margin-bottom:3px;
}
input, textarea {
	clear: both;
	font-size: 140%;
	font-family: "frutiger linotype", "lucida grande", "verdana", sans-serif;
	padding: 1%;
	width:98%;
}
select {
	clear: both;
	font-size: 120%;
	vertical-align: text-bottom;
}
select[multiple=multiple] {
	width: 100%;
}
option {
	font-size: 120%;
	padding: 0 3px;
}
input[type=checkbox] {
	clear: left;
	float: left;
	margin: 0px 6px 7px 2px;
	width: auto;
}
div.checkbox label {
	display: inline;
}
input[type=radio] {
	float:left;
	width:auto;
	margin: 0 3px 7px 0;
}
div.radio label {
	margin: 0 0 6px 20px;
}
input[type=submit] {
	display: inline;
	font-size: 110%;
}
form .submit input[type=submit] {
	background:#62af56;
	background: -webkit-gradient(linear, left top, left bottom, from(#a8ea9c), to(#62af56));
	background-image: -moz-linear-gradient(top, #a8ea9c, #62af56);
	border-color: #2d6324;
	color: #000;
	text-shadow: #8cee7c 0px 1px 0px;
}
form .submit input[type=submit]:hover {
	background:#4ca83d;
	background: -webkit-gradient(linear, left top, left bottom, from(#85e573), to(#4ca83d));
	background-image: -moz-linear-gradient(top, #85e573, #4ca83d);
}

/** Notices and Errors **/
div.message{clear:both;color:#fff;font-size:140%;font-weight:bold;margin:0 0 1em 0;background:#c73e14;padding:5px;}
div.error-message{clear:both;color:#fff;font-weight:bold;background:#c73e14;}
p.error{background-color:#e32;color:#fff;font-size:120%;line-height:140%;padding:0.8em;margin:1em 0;}
p.error em{color:#000;font-weight:normal;line-height:140%;}
.notice{background:#ffcc00;color:#000;display:block;padding:0.8em;margin:1em 0;text-align: center;}
.success{background:green;color:#fff;}

/** Users **/
form div.submit.forgot{display:inline;}
.forgot-action{float:right;text-align:right;margin:0;}
.forgot-action a{color:#f00;text-decoration:underline;}
.forgot-action a:hover{color:#f00;text-decoration:none;}

/** Packages **/
.package_list {font-size:2em; text-align:center;width:180px !important;}
.auto_complete {background-color :#fff;border:1px solid #888;font-size:2em;margin:0px;padding:0px;position:absolute;width:250px;z-index:10;}
.auto_complete ul {list-style-type: none;}
.auto_complete ul li {margin-left: 2px;}
.auto_complete ul li.selected { background-color: #ffb;}
