/*******************************************************************************
 Footer
*******************************************************************************/
#footer {
	background: #F8F8F8;
	border-top: 1px solid #E0E0E0;
	color: #ACACAC;
	font-size: 11px;
	height: 150px;
	padding: 15px 0px 15px 0px;
	text-align: center;
}
#footer a {
	color: #ACACAC;
	text-decoration: underline;
}
