/*******************************************************************************
Package Previews
*******************************************************************************/
.packages-list {
	width:800px;
	clear:both;
	margin-top:20px;
	padding: 0 80px;
}
.preview {
	clear:both;
	vertical-align: top;
	display: inline-block;
	margin: 0 0 1.5em 0;
	position: relative;
	width:360px;
	height:130px;
	color:#6f6514;
	padding-right:20px;
}
.preview > .info {
	float:right;
	margin-top: 11px;
}
.preview > .info > div {
	color:#777;
	float:left;
	display:inline-block;
	min-height: 11px;
	min-width: 11px;
}
.preview > .info > .summary {
	background:transparent url('/img/more_info.png') no-repeat;
	cursor:pointer;
	margin-top: 2px;
	position:relative;
}
.preview > .info > .watchers {
	background:transparent url('/img/eye.png') no-repeat;
	padding:0 10px 0 20px
}
.preview > .info > .rating {
	background:transparent url('/img/thumb-up.png') no-repeat;
	padding:0 10px 0 20px
}
.preview > .info > .summary > span {
	background:#ccc;
	border:1px solid #666;
	color:#000;
	display:none;
	max-height:150px;
	padding:10px;
	position:absolute;
	right:-125px;
	top:25px;
	width:250px;
	z-index:10;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 1px 3px #888;
	-webkit-box-shadow: 0px 1px 3px #888;
	box-shadow: 0px 1px 3px #888;
}
.preview > .info > .summary:hover > span {
	display:block;
}
.preview > .info > .summary:hover > span > .border {
	border-color: transparent transparent #666666 transparent;
	border-style: solid;
	border-width: 11px;
	height:0;
	width:0;
	position:absolute;
	top:-23px;
	left:128px;
}
.preview > .info > .summary:hover > span > .arrow {
	border-color: transparent transparent #fff transparent;
	border-style: solid;
	border-width: 10px;
	height:0;
	width:0;
	position:absolute;
	top:-20px;
	left:129px;
}
.preview .author {
	font-size: 11px;
	color: #3F3F41;
	margin-bottom: 9px;
	margin-top: -8px;
	padding-left: 0px;
}
.preview > .thumb {
	float:left;
	margin-right:12px;
}
.index .preview > .thumb {
	width:150px;
}
.preview h3 a {
	color: #065798;
	font-size: 18px;
	font-weight: bold;
	line-height: 2em;
	text-decoration: none;
}
.preview h3 a:hover { color: #00C4CC; }
.preview > .info  {
	color:#25689c;
}
.preview .author a {
	color: #3F3F41;
	text-decoration: none;
}
.preview .author a:hover {
	text-decoration: underline;
}
.preview > .info > .summary > span {
	background:#fff;
	border: 1px solid #ccc;
	color:#6f6514;
	opacity:0.85;
}
.preview > .info > .summary:hover > span > .border {
	border-color: transparent transparent #ccc transparent;
}
.preview > .info > .summary:hover > span > .arrow {
	border-color: transparent transparent #fff transparent;
}
.preview .summary {
	color: #666;
	font-size:12px;
	margin-bottom:3px;
}