/*******************************************************************************
 Search bar
*******************************************************************************/
.index > .search input[type=text] {
	width:78%;
}
.ideas.index > .search input[type=text] {
	width:71%;
}
.index > .search input[type=submit] {
	width:60px;
	display:inline-block;
	padding-top:8px;
}
.videos.index > .search input[type=text] {
	width:51%;
}
#flashMessage {
	background:#204c58;
}