/* General */
body {
	color: #979797;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 75%;
	font-size: small;
	line-height: 1.7em;
	background: #E3E3E3;
	margin: 0;
	padding: 0;
	text-align: center;
}
.wrapper {
	margin: 0 auto;
	width: 999px;
}
header {
	float: left;
	margin-right: 19px;
	overflow: hidden;
	text-align: left;
}
section {
	width: 960px;
	text-align: left;
	margin: 0 auto 0;
}
section .contents {
	float: left;
	margin: 10px 0 40px;
	width: 778px;
}
footer {
	clear: both;
	color: #ddd;
	font-size: 13px;
	line-height: 1;
	margin: 2px 0;
	padding: 4px 9px;
	text-align: center;
}
a, a:link, a:visited, a:active {
	text-decoration: none;
	color: black;
}
a:hover {
	text-decoration: none;
	color: #e43715;
}
.clear {
	clear: both;
}
h3 {
	margin-top: 0;
}

/* Left Column */
header h1 {
	background-color: #003D4C;
	border-bottom: 1px solid #E9E9E9;
	font: normal 22px Helvetica, Arial, sans-serif;
	height: 60px;
	margin-bottom: 20px;
	margin-top: 0px;
	padding-top: 60px;
	text-align: center;
	text-shadow: 0 1px 0 black;
	width: 180px;
}
header h1.logo a {
	color: #fff;
}
.navigation ul {
	text-align: left;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
.navigation ul li {
	position: relative;
	padding: 2px 0 1px 5px;
}
.navigation ul li a {
	font: normal 14px/20px Helvetica, Arial, sans-serif;
	text-shadow: 0 1px 0 white;
}
.navigation ul li:hover {
	background-color: #e43715;
	-opera-border-radius: 5px;
	-o-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.navigation ul li:hover  a {
	color: #fff;
	text-shadow: none;
	-webkit-font-smoothing: antialiased;
}
/* Search Form */
.search-form {
	float: left;
	width: 100%;
}
.search-form div {
	float: left;
	padding-bottom: 4px;
	position: relative;
	width: 100%;
}
.search-form .input {
	background: white;
	border: 0;
	border: 1px solid gainsboro;
	color: #000;
	float: left;
	font: normal 12px/18px Helvetica, Arial, sans-serif;
	line-height: 12px;
	margin: 0 0 2px 0;
	padding: 10px 41px 9px 10px;
	width: 129px;
	-opera-border-radius: 10px;
	-o-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.search-form .input:focus {
	outline: 0;
}
.search-form .input::-webkit-input-placeholder {
	color: #ADADAD;
}
.search-form .input:-moz-placeholder {
	color: #ADADAD;
}
.search-form .button {
	background: url(../img/search-arrow.png) no-repeat top center;
	border: none;
	box-shadow: 0;
	color: black;
	cursor: pointer;
	float: left;
	font: bold 16px/22px Helvetica, Arial, sans-serif;
	height: 32px;
	margin: 3px -36px;
	position: relative;
	right: 0;
	text-indent: -100px;
	top: 0;
	width: 32px;
}
.search-form .button:hover { background-position: bottom; }

/* Filter */
.filter h3 {
	color: black;
	margin: 10px 0;
	text-shadow: 0 1px 0 white;
}
.filter ul {
	text-align: left;
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
}
.filter li {
	margin: 2px 0;
	padding: 4px;
}
.filter li:hover, .filter li.selected {
	background-color: #e43715;
	-opera-border-radius: 5px;
	-o-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.filter li.selected:hover {
	background-image: url('../img/clear.png');
	background-repeat: no-repeat;
	background-position: top right;
}
.filter .text {
	display: block; 
	float: left;
	line-height: 20px;
	margin: 3px 20px 0 10px; 
	overflow: hidden;
	text-align: left;
}
.filter li:hover  a.text, .filter li.selected a.text {
	color: #fff;
	-webkit-font-smoothing: antialiased;
}
.filter .icon {
	border-style: solid;
	border-width: 1px; 
	display: block; 
	float: left;
	font-size: .7em;
	font-weight: bold;
	line-height: 20px;
	margin: 1px 0 0 1px; 
	text-align: center;
	text-transform: capitalize;
	width: 20px;
}

/* Page Title */
.secondary-title {
	background-color: #fff;
	padding: 10px 20px;
	margin-bottom: 10px;
	margin-top: 0;
	-opera-border-radius: 5px;
	-o-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.secondary-title .regular {
	font-size: 13px;
	font-weight: normal;
}
.secondary-title .gravatar {
	float: left;
	margin: 4px 10px 4px 0;
}

/* Articles */
article {
	background-color: #fff;
	padding: 15px 20px;
	margin-bottom: 10px;
	-opera-border-radius: 5px;
	-o-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
article h3, article h4 {
	margin-top: 0;
}
article .name {
	display: block;
	font-weight: bold;
	font-size: 20px;
}
article .description, article .para {
	color: #000;
	margin: 0;
}
article .outbound .title {
	width: 70px;
}
article #clone {
	background-color: white;
	border: none;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
	outline: none;
	padding: 2px 2px 2px 5px;
	width: 400px;
}
article span {
	margin-right: 12px;
}
article span.highlight {
	background-color: #eff77c;
	margin-right: 0;
	-opera-border-radius: 5px;
	-o-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
article .tags {
	padding: 2px 4px;
}
article .tags a {
	color: #7A7A7A;
	font-style: italic;
	text-decoration: underline;
}

/* Notices and Errors */
.message {
	clear: both;
	color: #fff;
	font-size: 140%;
	font-weight: bold;
	margin: 0 0 10px 0;
	background: #c73e14;
	padding: 5px;
	-opera-border-radius: 10px;
	-o-border-radius: 10px;
	-khtml-border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
}
.message.error {
	clear: both;
	color: #fff;
	font-weight: bold;
	background: #c73e14;
}
.message.notice {
	background: #ffcc00;
	color: #000;
	display: block;
	padding: 0.8em;
	margin: 1em 0;
	text-align: center;
}
.message.success {
	background: green;
	color: #fff;
}
.message p {
	font-size: 110%;
	line-height: 140%;
	padding: 0.2em;
	margin: 0; }
.message p em {
	font-weight: normal;
	line-height: 140%;
}

/* Pagination */
article.paging {
	padding: 10px;
}
.pagination .disabled {
	display: none;
}
.pagination span {
	background-color: #fff;
	padding: 5px;
	margin-right: 4px;
}
.pagination span:hover {
	background-color: #e43715;
}
.pagination span:hover a {
	color: #fff;
}
.pagination span.current:hover {
	background-color: #fff;
}
.pagination span.current:hover a {
	color: #000;
}

/** Icons **/
.icons .ds { background: #760083; border-color: #760083; color: #FFA59C; text-shadow: #000 0 0 3px; }
.icons .m { background: #C20000; border-color: #C20000; color: #FFA59C; text-shadow: #000 0 0 3px; }
.icons .be { background: #FFA59C; border-color: #FFA59C; color: #C20000; text-shadow: #fff 0 0 3px; }
.icons .s { background: #A6A6A6; border-color: #A6A6A6; color: #005BB0; text-shadow: #fff 0 0 3px; }
.icons .c { border-color: #005BB0; background: #005BB0; color: #82CFFF; text-shadow: #000 0 0 3px; }
.icons .cp { background: #82CFFF; border-color: #82CFFF; color: #005BB0; text-shadow: #fff 0 0 3px; }
.icons .t { background: #FEFB6D; border-color: #FEFB6D; color: #00AA00; text-shadow: #fff 0 0 3px; }
.icons .v { background: #00AA00; border-color: #00AA00; color: #00FF00; text-shadow: #000 0 0 3px; }
.icons .h { background: #00FF00; border-color: #00FF00; color: #00AA00; text-shadow: #fff 0 0 3px; }
.icons .hasno { text-indent: -5000px; background: none; }
.pages-c .contents .icon, .packages-c.view-a .contents .icon  {
	border-style: solid;
	border-width: 1px; 
	display: inline; 
	float: left;
	font-size: 9px;
	font-weight: bold;
	line-height: 20px;
	margin: 1px 0 0 1px; 
	text-align: center;
	text-transform: capitalize;
	width: 20px;
}

/* Overrides */
.packages-c.view-a .contents .name {
	float: left;
}
.packages-c.view-a .contents .icons {
	float: left;
	margin-right: 10px;
}
.packages-c.view-a .contents .description {
	margin-bottom: 20px;
}
.blog_posts-c article p, .blog_posts-c article ol, .blog_posts-c article ul {
	color: #000;
}
.pages-c article p a, .blog_posts-c article p a {
	color: #e43715;
}
.packages-c.home-a .contents .paging:hover {
	background-color: #e43715;
}
.packages-c.home-a .contents .paging:hover a {
	color: #fff;
}

/* Forms */
.button {
	font-size: 1em;
	color: #234e70;
	height: 27px;
	line-height: 26px;
	text-shadow: rgba(255,255,255,0.5) 0px 1px 0px;
	display: inline;
	float: left;
	margin-right: 5px;
	padding: 0 10px
}
.button:hover {
	text-decoration: none;
	color: #234e70
}
.button:active {
	background-position: 0px bottom
}
.contents .input {
	height: 32px;
	line-height: 32px;
}
.contents label {
	display: inline-block;
	min-width: 160px;
}
.contents .alternate-action {
	height: 24px;
	line-height: 24px;
	margin-left: 4px;
}

/** Scaffold View **/
dl {
	line-height: 2em;
	margin: 0em 0em;
	width: 60%;
}
dl .altrow {
	background: #f4f4f4;
}
dt {
	font-weight: bold;
	padding-left: 4px;
	vertical-align: top;
}
dd {
	margin-left: 10em;
	margin-top: -2em;
	vertical-align: top;
}
