@import "tailwindcss";
@import "./fonts.css";

@theme {
    --font-raleway: "Raleway", sans-serif;
    --color-cake-red: #d33c44;
}

/* Styling for default app homepage */

.bullet:before {
    font-family: 'cakefont', sans-serif;
    font-size: 18px;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    vertical-align: -1px;
}

.success:before {
    color: #88c671;
    content: "\0056";
}

.problem:before {
    color: #d33c44;
    content: "\0057";
}

.ss-main {
    height: 100%;
    --ss-primary-color: #d33c44;
}

[data-is-php-filter] + .ss-main {
    --ss-primary-color: var(--color-blue-500);
}
