/** Maintainer Pages **/
.maintainers_view .meta-data, .github_github .meta-data { display: inline; float:left; margin-left: 0; margin-right: 10px; margin-top: 40px; width: 460px; }
.maintainers_view .meta-maintainer, .github_github .meta-maintainer { background-color: #e3a130; padding: 20px; }
.maintainers_view .meta-maintainer .gravatar, .github_github .meta-maintainer .gravatar { float: left; padding-right: 10px; }
.maintainers_view .meta-maintainer dt, .github_github .meta-maintainer dt { font-size: 17px; }
.maintainers_view .meta-maintainer dl, .github_github .meta-maintainer dl { float: left; margin-bottom: 4px; }
.maintainers_view .meta-maintainer dd, .github_github .meta-maintainer dd { font-size: 16px; font-weight: bold;  padding-left: 20px;  }
.maintainers_view .meta-listing, .github_github .meta-listing { border-bottom: 1px solid #999; padding: 10px 0 0 0; margin-bottom: 0; }
.maintainers_view .meta-listing a, .github_github .meta-listing a { font-size: 16px; }
.maintainers_view .meta-listing p, .github_github .meta-listing p { margin-bottom: 5px; }
.maintainers_view .related, .github_github .related { display: inline; float: left; margin-left: 10px; margin-right: 0; width: 460px; }
.maintainers_view .related h3, .github_github .related h3 { margin-bottom: 0; }