.pages_display .meta_listing { padding-bottom: 10px; }
.pages_display .icons-container { float: left; margin-left: auto; margin-right: auto; width: 100px; }
.pages_display .icons { width: 70px; height: 70px; font-family: arial; /*border: 2px solid #000; */ margin: 0 auto; padding: 0 1px 1px 0; }