input[type="submit"] {
	width: auto;
	padding: 7px 8px;
	color: #5E5E5E;
	background: #ECECEC;
	background: -webkit-gradient(linear, left top, left bottom, from(white), to(#D7D7D7));
	background: -moz-linear-gradient(top, white, #D7D7D7);
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0px 1px 2px #888;
	-webkit-box-shadow: 0px 1px 2px #888;
	box-shadow: 0px 1px 2px #888;
	border: 1px #D4D4D4 solid;
	text-decoration: none;
	text-transform: capitalize;
}
/* Package Submit */
.page-form .content label {
	display: block;
	margin-bottom: 6px;
}
.page-form .content input[type="submit"] {
	margin-right: 10px;
	margin-top: 10px;
}
.page-form .content input[type="text"],
.page-form .content input[type="password"] {
	border: 1px solid #CCC;
	color: #666;
	display: block;
	font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",monospace;
	font-size: 11px;
	height: 16px;
	margin-bottom: 10px;
	padding: 5px;
	width: 330px;
}
.page-form .content .checkbox label {
	float: left;
}
.page-form .content .checkbox input {
	float: left;
	margin-right: 10px;
}