body {
	min-width: 960px;
}
.container {
	width: 960px;
	margin: auto;
	position: relative;
}
body.minimal {
	min-width: 600px;
}
.minimal .container {
	width: 600px;
}
body.mobile {
	min-width: 320px;
}
.mobile .container {
	width: 320px;
}
.mobile h1 {
	margin: 0;
	text-align: center;
	width: 100%;
}
.mobile h1 a {
	height: 35px;
	line-height: 35px;
	text-align: center;
}
.mobile header form {
	margin-top: 10px;
	position: static;
}