body {
	min-width: 960px;
}
.container {
	width: 960px;
	margin: auto;
	position: relative;
}

body.minimal {
	min-width: 600px;
}
.minimal .container {
	width: 600px;
}
.minimal#packages .packages article {
	width: 280px;
}

body.mobile {
	min-width: 320px;
}
.mobile .container {
	width: 320px;
}
.mobile h1 {
	margin: 0;
	text-align: center;
	width: 100%;
}
.mobile h1 a {
	height: 35px;
	line-height: 35px;
	text-align: center;
}
.mobile header form {
	margin-top: 10px;
	position: static;
}
.mobile.packages-view .summary p {
	float: none;
	margin-right: 0;
}
.mobile.packages-view .summary p.button {
	position: static;
	float: none;
	right: 0;
	margin: 0 auto;
}
.mobile.packages-view .stats {
	float: none;
	margin-top: 10px;
	position: static;
}
.mobile.packages-view .package {
	float: none;
	margin-right: 0;
}
.mobile .mobile-block {
	display: block;
	margin-bottom: 4px;
}
.mobile#packages .packages {
	float: none;
	margin-right: 0;
}
.mobile#packages .sidebar {
	float: none;
	margin-top: 10px;
	position: static;
}
