form .error-message {
	color: white;
	font-size: 14px;
	background: #c43c35;
	margin-bottom: 6px;
	padding: 6px;
	-khtml-border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
}

/* Page Forms */
.page-form .content label {
	display: block;
	margin-bottom: 6px;
}
.page-form .content input[type="submit"] {
	margin-right: 10px;
	margin-top: 10px;
}
.page-form .content input[type="text"],
.page-form .content input[type="password"] {
	border: 1px solid #CCC;
	color: #666;
	display: block;
	font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",monospace;
	font-size: 11px;
	height: 16px;
	margin-bottom: 10px;
	padding: 5px;
	width: 330px;
}
.page-form .content .checkbox label {
	float: left;
}
.page-form .content .checkbox input {
	float: left;
	margin-right: 10px;
}
.page-form .content .info-sidebar {
	position: absolute;
	top: 0;
	right: 0;
	width: 300px;
}
.page-form .content .info-sidebar p {
	font-size: 14px;
}