/* Maintainer View */
.maintainers-view .content h2 {
	border: none;
	padding-bottom: 0;
}
.maintainers-view .content img {
	margin-bottom: -15px;
}
.maintainers-view .summary {
	background: #EEE;
	border-top: 1px solid #FCFCFC;
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 30px 0;
	overflow: hidden;
	padding: 30px;
	text-shadow: 0 1px 1px white;
	-webkit-box-shadow: inset 0 0px 42px 0px rgba( 100, 100, 100, 0.1 );
	-khtml-box-shadow: inset 0 0px 42px 0px rgba( 100, 100, 100, 0.1 );
	-moz-box-shadow: inset 0 0px 42px 0px rgba( 100, 100, 100, 0.1 );
	-o-box-shadow: inset 0 0px 42px 0px rgba( 100, 100, 100, 0.1 );
	box-shadow: inset 0 0px 42px 0px rgba( 100, 100, 100, 0.1 );
}
.maintainers-view .summary p {
	margin-right: 190px;
}
