/* Package Preview */
.content .packages .article {
	background: white;
	color: #333;
	display: block;
	font-size: 18px;
	margin-bottom: 30px;
	padding: 10px;
	width: 610px;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.25);
	-khtml-box-shadow: 0 2px 5px rgba(0,0,0,.25);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.25);
	-o-box-shadow: 0 2px 5px rgba(0,0,0,.25);
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=0,strength=1),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=100,strength=2),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=180,strength=3),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=260,strength=2)"; /* IE8+ */
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=0,strength=1),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=100,strength=2),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=180,strength=3),
          progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=260,strength=2); /* IE7 and lower */
}
.content .packages .article:hover {
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.70);
	-khtml-box-shadow: 0 2px 5px rgba(0,0,0,.70);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.70);
	-o-box-shadow: 0 2px 5px rgba(0,0,0,.70);
	box-shadow: 0 2px 5px rgba(0,0,0,.70);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=0,strength=2),
          progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=100,strength=4),
          progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=180,strength=6),
          progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=260,strength=4)"; /* IE8+ */
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=0,strength=2),
          progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=100,strength=4),
          progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=180,strength=6),
          progid:DXImageTransform.Microsoft.Shadow(color=#cccccc,direction=260,strength=4); /* IE7 and lower */
}
.content .packages h3 {
	padding-bottom: 0;
}
.content .packages h3 a {
	color: #476371;
	font-size: 18px;
}
.content .packages .info {
	color: #555555;
	font-size: 12px;
}
.content .packages .info a {
	color: #555555;
}
.content .packages .info strong {
	font-weight: bold;
	margin-right: 4px;
}
.content .packages .info .description {
	font-size: 12px;
	margin: 5px 0 7px 0;
	opacity: 1;
}
.content .packages .info .details {
	color: #666666;
	font-size: 11px;
}
.content .packages .article:active .info .details,
.content .packages .article:hover .info .details {
	opacity: 1;
}
.content .packages .info .author {
	margin-right: 20px;
}
.content .packages .info .author:hover {
	color: #666666;
}
.content .packages .info .date {
	float: right;
}

/* Package Index */
.packages-home .search,
.packages-index .search {
	margin-bottom: 10px;
}
.packages-home .search form,
.packages-index .search form {
	text-align: center;
}
.packages-home .search form .query,
.packages-index .search form .query {
	background: white url('/img/icons/search-icon.png') 5px 3px no-repeat;
	font-size: 12px;
	height: 15px;
	margin: 0;
	padding: 7px 6px 7px 25px;
	width: 828px;
}
.packages-home .search .query:hover,
.packages-home .search .query:focus,
.packages-index .search .query:hover,
.packages-index .search .query:focus {
	border-color: #aaa;
}
.packages-index .search .search-details {
	color: #999999;
	font-size: 12px;
	height: 24px;
}
.packages-index .search .search-details .total {
	float: left;
	font-size: 11px;
}
.packages-index .search .search-details .sort-group {
	float: right;
}
.packages-index .search .search-details .sort-group a {
	color: #476371;
	padding-left: 8px;
}
.packages-index .search .search-details .sort-group .active {
	font-weight: bold;
}
.packages-index .search .search-details .sort-group .asc:after {
	content: ' ▼';
}
.packages-index .search .search-details .sort-group .desc:after {
	content: ' ▲';
}
.packages-index .end-pagination {
	color: #91a2aa;
	display: block;
	font-size: 12px;
	padding: 10px;
	text-align: center;
	width: 100%;
}
.packages-index .loading {
	display: block;
	margin: 0 auto 10px auto;
}
.packages-index .next-page a {
	border: 1px solid #91a2aa;
	color: #91a2aa;
	display: block;
	font-size: 12px;
	padding: 10px;
	text-align: center;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
	behavior: url(/css/border-radius.htc);
}
.packages-index .next-page a:active,
.packages-index .next-page a:hover {
	color: #D54E21
}
.packages-index .no-results {
	background: #FDF5D9;
	border: 1px #FCEEC1 solid;
	float: left;
	min-height: 48px;
	position: relative;
	padding: 20px 20px 20px 100px;
	-webkit-border-radius: 6px;
	-khtml-border-radius: 6px;
	-moz-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	behavior: url(/css/border-radius.htc);
}
.packages-index .no-results h3 {
	color: #000;
	line-height: 24px;
	padding-bottom: 0;
}
.packages-index .no-results h3 span {
	color: #C83400;
}
.packages-home .highlight,
.packages-index .highlight {
	position: relative;
}
.packages-home .highlight p,
.packages-index .highlight p {
	float: left;
	margin-bottom: 0;
	margin-right: 240px;
}
.packages-home .highlight .description,
.packages-index .highlight .description {
	font-size: 16px;
	line-height: 24px;
	padding: 8px;
}
.packages-home .highlight .title,
.packages-index .highlight .title {
	font-size: 22px;
}
.tag {
	position: absolute;
	top: 0;
	left: 0;
	padding: 4px;
	background-color: #FE790F;
	font-size: 11px;
	text-shadow: none;
	color: #FFF;
	line-height: 11px;
	border-bottom-right-radius: 6px;
}
.no-results-icon {
	background: url("/img/search-icon.png") no-repeat;
	width: 48px;
	height: 48px;
	position: absolute;
	top: 20px;
	left: 20px;
}

/* Package Home */
.packages-home .popular-list {
	list-style: disc outside;
	margin: 18px 0 18px 30px;
	column-count: 2;
	-webkit-column-count: 2;
	-moz-column-count: 2;
}
.packages-home .popular-list li {
	margin-bottom: 12px;
}
.packages-home table .package-name {
	color: #1B252C;
	font-family: 'MuseoSlab500', Helvetica, Arial, sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 15px;
	padding: 2px 0 2px 0;
}
.packages-home table .description {
	font-size: 12px;
	margin: 2px 0 2px 0;
	opacity: 1;
}
.packages-home table .watchers {
	padding-right: 20px;
	text-align: right;
}
.packages-home table .category-label {
	font-size: 10px;
	font-weight: normal;
	padding: .3em .6em;
	text-shadow:1px 1px #000;
}

/* Package Categories */
.packages-categories .content ul {
	line-height: 24px;
	list-style-type: square;
	padding-left: 20px;
	font-family: 'MuseoSlab500', Helvetica, Arial, sans-serif;
}
.packages-categories .content ul a {
	color: #417282;
}
/* Package View */
.packages-view {
	font-size: 12px;
}
.packages-view .page-title h2 {
	border-bottom: none;
	float: left;
	padding-bottom: 0;
}
.packages-view .page-title .activity {
	float: right;
}
.packages-home .highlight,
.packages-view .summary {
	background: #EEE;
	border-top: 1px solid #FCFCFC;
	font-size: 16px;
	line-height: 24px;
	margin: 0 0 30px 0;
	min-height: 40px;
	overflow: hidden;
	padding: 30px;
	text-shadow: 0 1px 1px white;
	-webkit-box-shadow: inset 0 0px 42px 0px rgba( 100, 100, 100, 0.1 );
	-khtml-box-shadow: inset 0 0px 42px 0px rgba( 100, 100, 100, 0.1 );
	-moz-box-shadow: inset 0 0px 42px 0px rgba( 100, 100, 100, 0.1 );
	-o-box-shadow: inset 0 0px 42px 0px rgba( 100, 100, 100, 0.1 );
	box-shadow: inset 0 0px 42px 0px rgba( 100, 100, 100, 0.1 );
}
.packages-home .highlight p,
.packages-view .summary p {
	float: left;
	margin-bottom: 0;
	margin-right: 240px;
}
.packages-home .highlight p.button {
	background: #D83137;
}
.packages-view .summary p.button {
	background: #D54E21;
}
.packages-home .highlight p.button,
.packages-view .summary p.button {
	border: none;
	cursor: pointer;
	display: block;
	float: right;
	line-height: 1.4em;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 30px;
	text-align: center;
	width: 182px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
	behavior: url(/css/border-radius.htc);
	-khtml-box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
.packages-home .highlight p.button a,
.packages-view .summary p.button a {
	color: white;
	display: block;
	font-weight: normal;
	font-size: 16px;
	line-height: 24px;
	text-shadow: rgba(0, 0, 0, 0.5) 0 1px 0;
	padding: 8px 0;
}
.packages-view .package-info {
	min-height: 220px;
}
.packages-view .package {
	float: left;
	margin-right: 210px;
	width: 100%;
}
.packages-view .package h3 {
	padding-bottom: 7px;
}
.packages-view .data {
	border: 0;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
.packages-view .data tr {
	height: 26px;
	line-height: 20px;
}
.packages-view .data tr .name {
	font-weight: bold;
	margin-right: 10px;
	width: 90px;
}
.packages-view .data td {
	color: #444;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 13px;
}
.packages-view .package input {
	border: 1px solid #CCC;
	color: #666;
	display: inline;
	font-family: Monaco, "Courier New", "DejaVu Sans Mono", "Bitstream Vera Sans Mono",monospace;
	font-size: 11px;
	height: 16px;
	padding: 3px 0 2px 5px;
	width: 350px;
}
.packages-view .package ul {
	line-height: 22px;
	list-style: square;
	margin-left: 16px;
}
.packages-view .package-sidebar {
	float: right;
	position: absolute;
	right: 0px;
	width: 200px;
}
.packages-view .package-sidebar p {
	font-size: 12px;
	margin-bottom: 2px;
}
.packages-view .package-sidebar strong {
	color: #444;
	font-family: sans-serif;
	font-size: 13px;
	font-weight: bold;
	line-height: 22px;
}
.packages-view .package-section {
	margin-bottom: 20px;
}
.packages-view #dsq-content #dsq-global-toolbar {
	margin: -1em 0 0 0 !important;
}
.packages-view .dsq-reply {
	margin-top: 0.5em !important;
}
.packages-admin_categorize form {
	display: inline-block;
	margin: 5px 5px 5px 0;
}
.packages-admin_categorize .page-title {
	margin-bottom: 10px;
}

.edit-package-form section {
	width: 50%;
	float: left;
	margin-bottom: 15px;
}
.edit-package-form section.actions, .edit-package-form section.attributes {
	clear: both;
	width: 100%;
}
.edit-package-form section.attributes .checkbox {
	margin: 0px;
	float: left;
	width: 33%;
	height: 20px;
	display: block;
}
