/*******************************************************************************
 Paging
*******************************************************************************/
.paging {
	background: transparent;
	color: #C4C4C4;
	padding: 0px;
	margin: 0px;
	font-size: 12px;
}
.paging .disabled {
	display:none;
}
.paging p {
	color: #5e5e5e;
	font-size: 12px;
	margin: 12px 0 0 0;
}
.paging span {
	display: inline-block;
	margin-right:3px;
	color:#474747;
	padding:0;
}
.paging span a {
	text-decoration: none;
	display: inline-block;
	padding: 3px 6px;
	color: #5E5E5E;
}
.paging span a:hover {
	padding: 3px 6px;
}
.paging span.current {
	color: #D54E21;
	padding: 3px 6px;
	background-color: #F1F1F1;
	border: 1px solid #C4C4C4;
}
.paging .numbers {
	display: inline-block;
	background-color: #F1F1F1;
	padding: 0px;
	border: 1px solid #C4C4C4;
}