body {
	min-width: 960px;
}
.container {
	width: 960px;
	margin: auto;
	position: relative;
}

@media screen and (max-width: 980px) {
	body {
		min-width: 600px;
		overflow-x: hidden;
	}
	header h1 {
		font-size: 22px;
		margin-right: 0;
		width: 360px;
	}
	header h1 a {
		height: 70px;
		line-height: 70px;
	}
	header form {
		margin-top: 10px;
	}
	.container {
		width: 600px;
	}
	.content .packages .article {
		width: 250px;
	}
	.packages-index .search form .query {
		width: 466px;
	}
	.packages-index .no-results {
		width: 155px;
	}
	.packages-view .package {
		width: 390px;
	}
	.packages-view .package input {
		width: 272px;
	}
	.wrapper .columns .main-content {
		margin-right: 315px;
	}
	.wrapper .columns .main-content article {
		width: 260px;
	}
	.page-form .content input[type="text"],
	.page-form .content input[type="password"] {
		width: 80%;
	}
	.page-form .content .info-sidebar {
		margin-top: 20px;
		position: static;
		width: auto;
	}
}
body.minimal {
	min-width: 600px;
	overflow-x: hidden;
}
.minimal header h1 {
	font-size: 22px;
	margin-right: 0;
	width: 360px;
}
.minimal header h1 a {
	height: 70px;
	line-height: 70px;
}
.minimal header form {
	margin-top: 10px;
}
.minimal .container {
	width: 600px;
}
.minimal .content .packages .article {
	width: 250px;
}
.minimal.packages-index .search form .query {
	width: 466px;
}
.minimal.packages-index .no-results {
	width: 155px;
}
.minimal.packages-view .package {
	width: 390px;
}
.minimal.packages-view .package input {
	width: 272px;
}
.minimal .wrapper .columns .main-content {
	margin-right: 315px;
}
.minimal .wrapper .columns .main-content article {
	width: 260px;
}
.minimal.page-form .content input[type="text"],
.minimal.page-form .content input[type="password"] {
	width: 80%;
}
.minimal.page-form .content .info-sidebar {
	margin-top: 20px;
	position: static;
	width: auto;
}

@media screen and (max-width: 600px) {
	body {
		min-width: 320px;
		overflow-x: hidden;
	}
	.container {
		width: 320px;
	}
	header {
		height: 140px !important;
	}
	header h1 {
		margin: 0;
		text-align: center;
		width: 100%;
	}
	header h1 a {
		height: 35px;
		line-height: 35px;
		text-align: center;
	}
	header nav {
		margin-top: 12px;
		position: static;
		right: auto;
		text-align: center;
		top: auto;
		width: 100%;
	}
	header nav.left-nav {
		height: 70px;
	}
	header nav.right-nav {
		right: auto;
		top: auto;
	}
	.content .packages .article {
		width: 300px;
	}
	.packages-index .search form .query {
		width: 188px;
	}
	.packages-index .search .search-details .total {
		display: none;
		text-align: right;
	}
	.packages-index .search .search-details .sort-group {
		float: none;
		margin-top: 4px;
		text-align: right;
	}
	.packages-index .no-results {
		width: auto;
	}
	.packages-view .page-title {
		text-align: center;
	}
	.packages-view .page-title h2 {
		float: none;
		text-align: center;
	}
	.packages-view .page-title .activity {
		margin-bottom: 10px;
		float: none;
	}
	.packages-view .summary p {
		float: none;
		margin-bottom: 10px;
		margin-right: 0;
		text-align: center;
	}
	.packages-view .summary p.button {
		position: static;
		float: none;
		right: 0;
		margin: 0 auto;
	}
	.packages-view .stats {
		float: none;
		margin-top: 10px;
		position: static;
	}
	.packages-view .package {
		float: none;
		margin-right: 0;
		width: 320px;
	}
	.packages-view .package input {
		width: 220px;
	}
	.mobile-block {
		padding-bottom: 6px;
	}
	.wrapper .columns .main-content {
		float: none;
		margin-right: 0;
		min-height: 180px;
	}
	.wrapper .columns .sidebar {
		float: none;
		margin-top: 10px;
		position: static;
		width: 320px;
	}
	.wrapper .columns .main-content article {
		width: 94%;
	}
	.page-form .content input[type="text"],
	.page-form .content input[type="password"] {
		width: 90%;
	}
	.sidebar .infobox {
		width: 320px;
	}
	.page-form .content .info-sidebar {
		margin-top: 20px;
		position: static;
		width: auto;
	}
	.packages-view .package-sidebar {
		float: none;
		position: static;
		right: auto;
		width: 100%;
	}
}
body.mobile {
	min-width: 320px;
	overflow-x: hidden;
}
.mobile .container {
	width: 320px;
}
.mobile header {
	height: 140px !important;
}
.mobile header h1 {
	margin: 0;
	text-align: center;
	width: 100%;
}
.mobile header h1 a {
	height: 35px;
	line-height: 35px;
	text-align: center;
}
.mobile header nav {
	margin-top: 12px;
	position: static;
	right: auto;
	text-align: center;
	top: auto;
	width: 100%;
}
.mobile header nav.left-nav {
	height: 70px;
}
.mobile header nav.right-nav {
	right: auto;
	top: auto;
}
.mobile .content .packages .article {
	width: 300px;
}
.mobile.packages-index .search form .query {
	width: 188px;
}
.mobile.packages-index .search .search-details .total {
	float: none;
}
.mobile.packages-index .search .search-details .sort-group {
	float: none;
	margin-top: 4px;
}
.mobile.packages-index .no-results {
	width: auto;
}
.mobile.packages-view .page-title {
	text-align: center;
}
.mobile.packages-view .page-title h2 {
	float: none;
	text-align: center;
}
.mobile.packages-view .page-title .activity {
	margin-bottom: 10px;
	float: none;
}
.mobile.packages-view .summary p {
	float: none;
	margin-bottom: 10px;
	margin-right: 0;
	text-align: center;
}
.mobile.packages-view .summary p.button {
	position: static;
	float: none;
	right: 0;
	margin: 0 auto;
}
.mobile.packages-view .stats {
	float: none;
	margin-top: 10px;
	position: static;
}
.mobile.packages-view .package {
	float: none;
	margin-right: 0;
	width: 320px;
}
.mobile.packages-view .package input {
	width: 220px;
}
.mobile .mobile-block {
	padding-bottom: 6px;
}
.mobile .wrapper .columns .main-content {
	float: none;
	margin-right: 0;
	min-height: 180px;
}
.mobile .wrapper .columns .sidebar {
	float: none;
	margin-top: 10px;
	position: static;
	width: 320px;
}
.mobile .wrapper .columns .main-content article {
	width: 94%;
}
.mobile.page-form .content input[type="text"],
.mobile.page-form .content input[type="password"] {
	width: 90%
}
.mobile .sidebar .infobox {
	width: 320px;
}
.mobile.page-form .content .info-sidebar {
	margin-top: 20px;
	position: static;
	width: auto;
}
.mobile.packages-view .package-sidebar {
	float: none;
	position: static;
	right: auto;
	width: 100%;
}
