.dataTables_wrapper {
	position: relative;
	min-height: 302px;
	clear: both;
	_height: 302px;
	zoom: 1;
}
.dataTables_processing {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 250px;
	height: 30px;
	margin-left: -125px;
	margin-top: -15px;
	padding: 14px 0 2px 0;
	text-align: center;
	background: white;
	color: #333;
	display: block;
	font-size: 14px;
	-webkit-box-shadow: 0 2px 5px rgba(0,0,0,.25);
	-khtml-box-shadow: 0 2px 5px rgba(0,0,0,.25);
	-moz-box-shadow: 0 2px 5px rgba(0,0,0,.25);
	-o-box-shadow: 0 2px 5px rgba(0,0,0,.25);
	box-shadow: 0 2px 5px rgba(0,0,0,.25);
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=0,strength=1),
		progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=100,strength=2),
		progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=180,strength=3),
		progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=260,strength=2)"; /* IE8+ */
	filter: progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=0,strength=1),
		progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=100,strength=2),
		progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=180,strength=3),
		progid:DXImageTransform.Microsoft.Shadow(color=#dddddd,direction=260,strength=2); /* IE7 and lower */
}
.dataTables_length {
	width: 30%;
	float: left;
	text-transform: uppercase;
	font-size: 0.6em;
	color: #333;
	padding-bottom: 10px;
}
.dataTables_filter {
	width: 60%;
	float: right;
	text-align: right;
	text-transform: uppercase;
	font-size: 0.6em;
	color: #333;
	padding-bottom: 10px;
}
.dataTables_filter input {
	font-size: 12px;
	border: 1px solid #ddd;
	color: #333;
	width: 80%;
}
.dataTables_info {
	width: 80%;
	float: left;
	text-transform: uppercase;
	font-size: 0.6em;
	color: #333;
}
.dataTables_paginate {
	width: 44px;
	* width: 50px;
	float: right;
	text-align: right;
}
.paginate_disabled_previous, .paginate_enabled_previous, .paginate_disabled_next, .paginate_enabled_next {
	height: 19px;
	width: 19px;
	margin-left: 3px;
	float: left;
}
.paginate_disabled_previous {
	background-image: url('/img/datatables/back_disabled.jpg');
}
.paginate_enabled_previous {
	background-image: url('/img/datatables/back_enabled.jpg');
}
.paginate_disabled_next {
	background-image: url('/img/datatables/forward_disabled.jpg');
}
.paginate_enabled_next {
	background-image: url('/img/datatables/forward_enabled.jpg');
}
table {
	margin: 0px auto 10px auto;
	clear: both;
	width: 100%;
}
table thead th {
	color: #476371;
	font-family: 'MuseoSlab500', Helvetica, Arial, sans-serif;
	font-weight: normal;
	font-size: 14px;
	padding: 3px 18px 3px 10px;
	border-bottom: 1px solid #BB9066;
	font-weight: bold;
	cursor: pointer;
	* cursor: hand;
}
table tfoot th {
	color: #476371;
	font-size: 10px;
	padding: 3px 18px 3px 10px;
	border-top: 1px solid #BB9066;
	font-weight: bold;
}
table tr.heading2 td {
	border-bottom: 1px solid #aaa;
}
table td {
	padding: 3px 10px;
	font-size: 14px;
}
table td.center {
	text-align: center;
}
th.sorting_asc {
	background: url('/img/datatables/sort_asc.png') no-repeat center right;
}
th.sorting_desc {
	background: url('/img/datatables/sort_desc.png') no-repeat center right;
}
th.sorting {
	background: url('/img/datatables/sort_both.png') no-repeat center right;
}
th.sorting_asc_disabled {
	background: url('/img/datatables/sort_asc_disabled.png') no-repeat center right;
}
th.sorting_desc_disabled {
	background: url('/img/datatables/sort_desc_disabled.png') no-repeat center right;
}
tr.odd {
	background-color: #eee;
}
tr.even {
	background-color: white;
}

.table {
  width: 100%;
  background-color: transparent;
  margin-bottom: 20px;
  max-width: 100%;
}
.table th {
  text-align: left;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
.table > thead > tr > th {
  vertical-align: bottom;
  border-bottom: 2px solid #dddddd;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td {
  border-top: 0;
}
.table > tbody + tbody {
  border-top: 2px solid #dddddd;
}
.table .table {
  background-color: #ffffff;
}
.table-condensed > thead > tr > th,
.table-condensed > tbody > tr > th,
.table-condensed > tfoot > tr > th,
.table-condensed > thead > tr > td,
.table-condensed > tbody > tr > td,
.table-condensed > tfoot > tr > td {
  padding: 5px;
}
.table-bordered {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > tbody > tr > td,
.table-bordered > tfoot > tr > td {
  border: 1px solid #dddddd;
}
.table-bordered > thead > tr > th,
.table-bordered > thead > tr > td {
  border-bottom-width: 2px;
}
.table-striped > tbody > tr:nth-child(odd) > td,
.table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #f9f9f9;
}
.table-hover > tbody > tr:hover > td,
.table-hover > tbody > tr:hover > th {
  background-color: #f5f5f5;
}
.table col[class*="col-"] {
  position: static;
  float: none;
  display: table-column;
}
.table td[class*="col-"],
.table th[class*="col-"] {
  position: static;
  float: none;
  display: table-cell;
}
.table > thead > tr > td.active,
.table > tbody > tr > td.active,
.table > tfoot > tr > td.active,
.table > thead > tr > th.active,
.table > tbody > tr > th.active,
.table > tfoot > tr > th.active,
.table > thead > tr.active > td,
.table > tbody > tr.active > td,
.table > tfoot > tr.active > td,
.table > thead > tr.active > th,
.table > tbody > tr.active > th,
.table > tfoot > tr.active > th {
  background-color: #f5f5f5;
}
.table-hover > tbody > tr > td.active:hover,
.table-hover > tbody > tr > th.active:hover,
.table-hover > tbody > tr.active:hover > td,
.table-hover > tbody > tr.active:hover > th {
  background-color: #e8e8e8;
}
.table > thead > tr > td.success,
.table > tbody > tr > td.success,
.table > tfoot > tr > td.success,
.table > thead > tr > th.success,
.table > tbody > tr > th.success,
.table > tfoot > tr > th.success,
.table > thead > tr.success > td,
.table > tbody > tr.success > td,
.table > tfoot > tr.success > td,
.table > thead > tr.success > th,
.table > tbody > tr.success > th,
.table > tfoot > tr.success > th {
  background-color: #dff0d8;
}
.table-hover > tbody > tr > td.success:hover,
.table-hover > tbody > tr > th.success:hover,
.table-hover > tbody > tr.success:hover > td,
.table-hover > tbody > tr.success:hover > th {
  background-color: #d0e9c6;
}
.table > thead > tr > td.info,
.table > tbody > tr > td.info,
.table > tfoot > tr > td.info,
.table > thead > tr > th.info,
.table > tbody > tr > th.info,
.table > tfoot > tr > th.info,
.table > thead > tr.info > td,
.table > tbody > tr.info > td,
.table > tfoot > tr.info > td,
.table > thead > tr.info > th,
.table > tbody > tr.info > th,
.table > tfoot > tr.info > th {
  background-color: #d9edf7;
}
.table-hover > tbody > tr > td.info:hover,
.table-hover > tbody > tr > th.info:hover,
.table-hover > tbody > tr.info:hover > td,
.table-hover > tbody > tr.info:hover > th {
  background-color: #c4e3f3;
}
.table > thead > tr > td.warning,
.table > tbody > tr > td.warning,
.table > tfoot > tr > td.warning,
.table > thead > tr > th.warning,
.table > tbody > tr > th.warning,
.table > tfoot > tr > th.warning,
.table > thead > tr.warning > td,
.table > tbody > tr.warning > td,
.table > tfoot > tr.warning > td,
.table > thead > tr.warning > th,
.table > tbody > tr.warning > th,
.table > tfoot > tr.warning > th {
  background-color: #fcf8e3;
}
.table-hover > tbody > tr > td.warning:hover,
.table-hover > tbody > tr > th.warning:hover,
.table-hover > tbody > tr.warning:hover > td,
.table-hover > tbody > tr.warning:hover > th {
  background-color: #faf2cc;
}
.table > thead > tr > td.danger,
.table > tbody > tr > td.danger,
.table > tfoot > tr > td.danger,
.table > thead > tr > th.danger,
.table > tbody > tr > th.danger,
.table > tfoot > tr > th.danger,
.table > thead > tr.danger > td,
.table > tbody > tr.danger > td,
.table > tfoot > tr.danger > td,
.table > thead > tr.danger > th,
.table > tbody > tr.danger > th,
.table > tfoot > tr.danger > th {
  background-color: #f2dede;
}
.table-hover > tbody > tr > td.danger:hover,
.table-hover > tbody > tr > th.danger:hover,
.table-hover > tbody > tr.danger:hover > td,
.table-hover > tbody > tr.danger:hover > th {
  background-color: #ebcccc;
}
@media (max-width: 767px) {
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    overflow-x: scroll;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #dddddd;
    -webkit-overflow-scrolling: touch;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
  .table-responsive > .table-bordered {
    border: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:first-child,
  .table-responsive > .table-bordered > tbody > tr > th:first-child,
  .table-responsive > .table-bordered > tfoot > tr > th:first-child,
  .table-responsive > .table-bordered > thead > tr > td:first-child,
  .table-responsive > .table-bordered > tbody > tr > td:first-child,
  .table-responsive > .table-bordered > tfoot > tr > td:first-child {
    border-left: 0;
  }
  .table-responsive > .table-bordered > thead > tr > th:last-child,
  .table-responsive > .table-bordered > tbody > tr > th:last-child,
  .table-responsive > .table-bordered > tfoot > tr > th:last-child,
  .table-responsive > .table-bordered > thead > tr > td:last-child,
  .table-responsive > .table-bordered > tbody > tr > td:last-child,
  .table-responsive > .table-bordered > tfoot > tr > td:last-child {
    border-right: 0;
  }
  .table-responsive > .table-bordered > tbody > tr:last-child > th,
  .table-responsive > .table-bordered > tfoot > tr:last-child > th,
  .table-responsive > .table-bordered > tbody > tr:last-child > td,
  .table-responsive > .table-bordered > tfoot > tr:last-child > td {
    border-bottom: 0;
  }
}
